# We intentionally only work withing the Dockerfile. Do not add project files (package.json, requirements.txt, etc.).
node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock
package.json
requirements.txt
pyproject.toml
shared-volume/
.gradle/
build/
Folder.DotSettings.user
bin
obj
.idea