.DS_Store
.idea
target/
build/
node_modules
bin
obj
.npmrc
.venv
dist
shared-volume/

mem-prof/
output.txt

docker_stats.svg
docker_stats.csv
timeline.csv
gpt_dcs_data.json

# Binary Files
libstatsig_ffi.dylib
libstatsig_ffi.a
libstatsig_ffi.so
statsig_ffi.dll
statsig_ffi.lib
*.node


### Composer ###
composer.phar
**/vendor/**
statsig-rust/tests/statsig_dcs.json
statsig-dotnet/Folder.DotSettings.user   # JetBrains IDE user-specific settings


## PNPM ###
.pnpm-store
