.DS_Store
.idea
target/
build/
node_modules
bin
obj
.npmrc

### Composer ###
composer.phar
**/vendor/**
statsig-lib/tests/statsig_dcs.json
statsig-dotnet/Folder.DotSettings.user   # JetBrains IDE user-specific settings


## PNPM ###
.pnpm-store
