name: Build

on:
  workflow_dispatch:
  push:
  pull_request:
    types: [reopened, closed]

  release:
    types: [released, prereleased]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

env:
  # Planning Inputs
  IS_PRIVATE_REPO: ${{ github.event.repository.private }}
  IS_RELEASE_BRANCH: ${{ contains(github.ref, 'heads/releases') }}
  IS_RELEASE_TRIGGER: ${{ github.event_name == 'release' }}
  IS_BETA_BRANCH: ${{ contains(github.ref, 'heads/betas') }}
  IS_MERGED_PR: ${{ github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true }}
  IS_NEW_RELEASE: ${{ github.event_name == 'release' }}

  # Python Publishing
  MATURIN_PYPI_TOKEN: ${{ secrets.STATSIG_PYPI_PROD_TOKEN }}
  MATURIN_REPOSITORY: pypi

  # NPM Publishing
  NPM_TOKEN: ${{ secrets.SIGSTAT_PUBLISH_NPM }}

  # Java Publishing
  ORG_GRADLE_PROJECT_MAVEN_USERNAME: ${{ secrets.ORG_GRADLE_PROJECT_MAVEN_USERNAME }}
  ORG_GRADLE_PROJECT_MAVEN_PASSWORD: ${{ secrets.ORG_GRADLE_PROJECT_MAVEN_PASSWORD }}
  ORG_GRADLE_PROJECT_SIGNING_KEY_ID: ${{ secrets.ORG_GRADLE_PROJECT_SIGNING_KEY_ID }}
  ORG_GRADLE_PROJECT_SIGNING_KEY: ${{ secrets.ORG_GRADLE_PROJECT_SIGNING_KEY }}
  ORG_GRADLE_PROJECT_SIGNING_PASSWORD: ${{ secrets.ORG_GRADLE_PROJECT_SIGNING_PASSWORD }}

  # GH Octokit (Kong App)
  GH_APP_ID: '229901'
  GH_APP_INSTALLATION_ID: '36921303'
  GH_APP_PRIVATE_KEY: ${{ secrets.KONG_APP_KEY_V2 }}

  # Misc
  CARGO_TERM_COLOR: always
  FORCE_COLOR: true

jobs:
  # -------------------------------------------------------------------- [Plan]

  plan:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    outputs:
      build_matrix: ${{ steps.plan.outputs.build_matrix }}
    steps:
      - uses: actions/checkout@v4
      - name: Make Plan
        id: plan
        run: python3 .github/build_plan.py

  # -------------------------------------------------------------------- [Build]

  build:
    needs: plan

    strategy:
      fail-fast: false
      matrix:
        config: ${{ fromJson(needs.plan.outputs.build_matrix).config }}
        package:
          - node
          - python
          - ffi

    timeout-minutes: 15
    runs-on: ${{ matrix.config.runner }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.config.os }}-${{ matrix.config.target }}-${{ matrix.package }}

      - uses: pnpm/action-setup@v4
        with:
          version: 7.32.4

      - name: Install CLI Dependencies
        run: |
          pnpm install --dir cli
          pnpm install --dir statsig-node

      - name: '[Non-Linux] Install Protoc'
        uses: arduino/setup-protoc@v3
        if: ${{ runner.os != 'Linux' }}
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: '[Non-Linux] Install Dependencies'
        if: ${{ runner.os != 'Linux' }}
        run: |
          pip3 install maturin ${{ format('{0}', matrix.config.py_deps_suffix) }}
          rustup target add ${{ matrix.config.target }}

      - name: '[Windows Only] Setup Python'
        if: ${{ runner.os == 'Windows' }}
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
          architecture: ${{ matrix.config.py_arch }}

      - name: '[Linux Only] Build Docker Image'
        if: ${{ runner.os == 'Linux' }}
        uses: ./.github/actions/build-docker-image
        with:
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_password: ${{ secrets.DOCKERHUB_TOKEN }}
          gh_token: ${{ secrets.KONG_FINE_GRAINED_REPO_PAT }}
          dockerfile_path: cli/src/docker/Dockerfile.${{ matrix.config.os }}
          docker_image_tag: statsig/server-core-${{ matrix.config.os }}-${{ matrix.config.arch }}
          platform: linux/${{ matrix.config.docker_arch }}

      - name: Build Package
        shell: bash
        run: |
          ./tore build ${{ matrix.package }} \
            --os ${{ matrix.config.os }} \
            --arch ${{ matrix.config.arch }} \
            --target ${{ matrix.config.target }} \
            --out-dir build \
            --skip-docker-build \
            --release

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.config.os }}-${{ matrix.config.target }}-${{ matrix.package }}
          if-no-files-found: error
          path: |
            statsig-pyo3/build/
            statsig-node/build/
            statsig-ffi/include/
            **/release/libstatsig_ffi.so
            **/release/libstatsig_ffi.dylib
            **/release/statsig_ffi.dll
            **/release/*statsig_ffi.a
            **/release/*statsig_ffi.lib

      - name: Report Binary Sizes
        shell: bash
        run: ./tore size-report --is-release ${{ github.event_name == 'release' }}

  # -------------------------------------------------------------------- [Publish]

  publish:
    needs: [plan, build]
    if: ${{ github.event_name == 'release' }}

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - node
          - python
          - java
          - php
          - ffi

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 7.32.4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Setup
        run: |
          pnpm install --dir cli
          pip3 install maturin
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc

      - uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Display structure of downloaded files
        run: ls -R artifacts

      - name: Publish ${{ matrix.package }}
        shell: bash
        run: |
          ./tore publish \
            --working-dir artifacts \
            --package ${{ matrix.package }} \
            --workflow-id $GITHUB_RUN_ID \
            --release-id ${{ github.event.release.id }} \
            --repository ${{ github.event.repository.name }} \
            --skip-artifact-download
