name: Statsig FFI

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [released, prereleased]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    strategy:
      fail-fast: false
      matrix:
        config:
          - target: amazonlinux2-arm64
            platform: linux/arm64
            runner: statsig-ubuntu-arm64

          - target: amazonlinux2023-arm64
            platform: linux/arm64
            runner: statsig-ubuntu-arm64

          - target: amazonlinux2-x86_64
            platform: linux/amd64
            runner: ubuntu-latest

          - target: amazonlinux2023-x86_64
            platform: linux/amd64
            runner: ubuntu-latest
            always_build: true

    runs-on: ${{ matrix.config.runner }}
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v4

      - name: Build Statsig FFI
        if: ${{ github.ref_name == 'main' || matrix.config.always_build || github.event_name == 'release' }}
        uses: ./.github/actions/build-ffi-linux
        with:
          target: ${{ matrix.config.target }}
          platform: ${{ matrix.config.platform }}
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: List Release Files
        shell: bash
        run: |
          echo "Listing release files:"
          find target -type f -path "target/**/${{ matrix.config.target }}/**/release/libstatsig_ffi.so" -ls

      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ secrets.KONG_APP_ID }}
          private-key: ${{ secrets.SERVER_CORE_KONG_APP_PRIVATE_KEY }}
          owner: statsig-io

      - name: Make Target Directory Accessible
        shell: bash
        run: |
          chmod -R 755 target/
          
      - name: Upload Release Asset
        if: ${{ github.event_name == 'release' }}
        uses: ./.github/actions/upload-release-asset
        with:
          release_tag: ${{ github.event.release.tag_name }}
          asset_name: statsig-ffi-${{ matrix.config.target }}
          git_token: ${{ steps.app-token.outputs.token }}
          patterns: >-
            target/**/${{ matrix.config.target }}/**/release/libstatsig_ffi.so,
            target/**/${{ matrix.config.target }}/**/debug/libstatsig_ffi.so

  build-mac-and-windows:
    strategy:
      fail-fast: false
      matrix:
        config:
          # Windows builds
          - target: x86_64-pc-windows-msvc
            os: windows-latest

          - target: i686-pc-windows-msvc
            os: windows-latest

          - target: aarch64-pc-windows-msvc
            os: windows-latest
            always_build: true
          
          # macOS builds
          - target: x86_64-apple-darwin
            os: macos-latest

          - target: aarch64-apple-darwin
            os: macos-latest
            always_build: true

    runs-on: ${{ matrix.config.os }}
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v4

      - name: Build Statsig FFI
        if: ${{ github.ref_name == 'main' || matrix.config.always_build || github.event_name == 'release' }}
        uses: ./.github/actions/build-ffi-mac-and-windows
        with:
          target: ${{ matrix.config.target }}

      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ secrets.KONG_APP_ID }}
          private-key: ${{ secrets.SERVER_CORE_KONG_APP_PRIVATE_KEY }}
          owner: statsig-io

      - name: Upload Release Asset
        if: ${{ github.event_name == 'release' }}
        uses: ./.github/actions/upload-release-asset
        with:
          release_tag: ${{ github.event.release.tag_name }}
          asset_name: statsig-ffi-${{ matrix.config.target }}
          git_token: ${{ steps.app-token.outputs.token }}
          patterns: >-
            target/**/${{ matrix.config.target }}/release/statsig_ffi.dll,
            target/**/${{ matrix.config.target }}/debug/statsig_ffi.dll,
            target/**/${{ matrix.config.target }}/debug/statsig_ffi.pdb,
            target/**/${{ matrix.config.target }}/release/libstatsig_ffi.dylib,
            target/**/${{ matrix.config.target }}/debug/libstatsig_ffi.dylib